
body{
	background: #0b0607;
}

#headNav{
	opacity: 0.5;
	transition: 1s;
}
	#headNav:hover{
		opacity: 0.9;
	}

.pure-menu-heading{
	float: left;
}

.splash-head{
	transition: 1s;
}

.sky-search-field input{
}

video { display: block; }
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}

.map-icon-span{
	overflow: hidden;
	border: 0;
}

#myLocale{
	background-color: transparent;
	border: 2px solid rgba(250, 250, 250, 0.9);
	opacity: 0.8;
	transition: 1s;
	margin: 0 13px;
}
	#myLocale:hover{
		opacity: 1;
	}

.map-pin-icon{
	transition: 1s;
	fill: rgba(250, 250, 250, 0.8);
	display: block;
	width: 13%;
	height: 13%;
	margin: 0px 0px 0px -113px;
	cursor: pointer;
}
