
.pure-menu-heading{
	float: left;
}

video { display: block; }
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(https://googledrive.com/host/0B92YJK5CJQemVXF4V1ZDQklXUnc/Stars_Timelapse_from_Beach.jpg) no-repeat center;
	background-size: cover;
}

