
::-webkit-scrollbar{width:17px;background: rgb(130, 154, 173)}
::-webkit-scrollbar-thumb{background:rgba(33,44,255,0.2	);-webkit-box-shadow:inset 0 0 6px rgba(77,33,133,0.9)}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(216,210,206,0.3)}
::selection{background:#ff7878;color:#fff;text-shadow:none}

body{
	background: #0b0607;
}

.now-logo{
	color: #fff;
	font-weight: 200;
}
.sky-logo{
	color: rgb(0, 214, 255);
	font-weight: 800;
}

#headNav{
	opacity: 0.5;
	transition: 1s;
}
	#headNav:hover{
		opacity: 0.9;
	}

.pure-menu-heading{
	float: left;
}

.splash-head, .search-element{
	transition: 1s;
}

.right{
	float: right;
}

#searchArea{
	transition: 1s;
	display: block;
}

.sky-search-field input{
	background: transparent !important;
	display: block;
}

video { display: block; }
video#bgvid {
	background: url(https://googledrive.com/host/0B92YJK5CJQemVXF4V1ZDQklXUnc/stars2.jpg) no-repeat center;
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}

.logo-svg{
	border: 0;
	width: 133px;
	height: 54px;
	margin: -27px 0 -11px -13px;
}

.meteors-frame{
	border: 0;
	opacity: 0.5;
	transition: 1s;
}
	.meteors-frame:hover{
		opacity: 0.9;
	}

#myLocale{
	background-color: transparent;
	border: 2px solid rgba(250, 250, 250, 0.9);
	opacity: 0.8;
	transition: 1s;
	margin: -7px 13px 0;
	float: right;
}
	#myLocale:hover{
		opacity: 1;
	}

